p,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}
#mlh-title {
  bottom: 150px;
  position: relative;
}

#jiya-about-title,
#jiya-hobbies-title {
  font-family: "Shrikhand", cursive;
  font-size: 80px;
  text-align: center;
  position: relative;
  right: 120px;
  bottom: 300px;
  color: #ad262d;
  /* now navbar isn't obstructed */
  pointer-events: none;
}

#jiya-work-title {
  font-family: "Shrikhand", cursive;
  font-size: 80px;
  text-align: center;
  position: relative;
  right: 113px;
  bottom: 300px;
  color: #ad262d;
  /* now navbar isn't obstructed */
  pointer-events: none;
}

#jiya-about-text {
  font-family: "Lora", serif;
  text-align: center;
  position: relative;
  bottom: 360px;
  font-size: 21px;
  color: #ffffff;
  left: 20px;
}

body {
  background-color: #f5f5f9;
  background-size: cover;
  width: auto;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  margin: 0px;
}

.jiya-bg {
  background-color: #292929;
}

.nav-bar {
  width: 100%;
  display: inline-block;
  background-color: #1c539f;
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  padding-top: 10px;
}

.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

.nav-content nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
}

.profile {
  background-color: #1d539f !important;
  text-align: center;
  height: 320px;
  margin-bottom: 50px;
}

.profile h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.profile img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  position: relative;
  right: 370px;
}

.profile-anime img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
  position: relative;
  left: 470px;
}

.profile .profile-picture {
  background-color: #1d539f;
  margin-bottom: 30px;
  height: 200px;
}

#jiya-profile-picture {
  padding-left: 420px;
}

#chizy-profile-picture {
  position: relative;
  left: 1px;
  bottom: 220px;
  border-radius: 30%;
}

#jiya-anime-picture {
  background-color: #ffcdd0;
  padding-right: 450px;
  height: 350px;
  padding: 30px;
}

a:hover {
  opacity: 0.8;
}

.banner {
  padding: 20px 0px 50px 0px;
  height: 150px;
  background-color: #1d539f;
}

.banner .logo {
  max-width: 180px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.banner .title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

#jiya-menu {
  padding-left: 110px;
  padding-top: 20px;
  /* removes bullets */
  list-style-type: 0;
  width: 200px;
}

#jiya-menu-item-1,
#jiya-menu-item-2,
#jiya-menu-item-3 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: xx-large;
  color: #ad262d;
  display: block;
  background-color: #ffcdd0;
  padding: 5px;
}

a {
  /* remove link underline */
  text-decoration: none;
}

.flex-container {
  display: flex;
}

#div-1,
#div-2,
#div-3 {
  width: 250px;
  height: 270px;
  padding: 10px;
  background-color: #ffcdd0;
  text-align: center;
  margin: 10px;
  position: relative;
  left: 335px;
  bottom: 360px;
}

#musicmapper,
#digitalwallet,
#innergarden,
#catch22,
#guitar,
#anime {
  width: 250px;
  height: 270px;
}

#jiya-map {
  width: 200x;
  height: 250px;
  position: relative;
  right: 400px;
}

#jiya-github {
  width: 90px;
  height: 90px;
  position: relative;
  left: 115px;
}
#jiya-linkedin {
  width: 90px;
  height: 90px;
  position: relative;
  left: 125px;
}
