p, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

#jiya-about-title{
    font-family: 'Shrikhand', cursive;
    font-size: 80px;
    text-align: center;
    position: relative;
    right: 120px;
    bottom: 200px;
    color: #ad262d;
}

#jiya-about-text{
    font-family: 'Lora', serif;
    text-align: center;
    position: relative;
    bottom: 260px;
    font-size: 21px;
    color: #ffffff;
    left: 20px;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.jiya-bg{
    background-color: #292929;

}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    background-color: #1d539f;
    margin-bottom: 30px;
    height: 200px;
}


#jiya-profile-picture{
    padding-left: 420px;
}

#jiya-anime-picture{
    background-color: #ffcdd0;
    padding-right: 450px;
    height: 350px;
    padding: 30px;
}

a:hover{
    opacity: 0.8;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

#jiya-menu {
    padding-left: 110px;
    padding-top: 70px;
    /* removes bullets */
    list-style-type: 0;
    width: 200px;
}

#jiya-menu-item {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: xx-large;
    color: #ad262d;
    display: block;
    background-color: #ffcdd0;
    padding: 5px;
}

a {
    /* remove link underline */
    text-decoration: none;
}


