{% extends "chizy/chizy_base.html" %}

{% block title %}
<h1 id="chizy-work-title">My projects,</h1>
{% endblock title %}

{% block content %}
<div class="flex-container">
    <div id="div-1">
        <a href="https://github.com/codepath-ios-team/Wordbuzz">
            <img id="project1" src="/static/img/chizy/wordbuzz.gif" alt="Image of Chizy's first project">
        </a>
    </div>

    <div id="div-2">
        <a href="https://github.com/csci-499-sp23/team-6-sp23-redux">
            <img id="project2" src="/static/img/chizy/EasyHangout.gif" alt="Image of Chizy's second project">
        </a>
    </div>

    <div id="div-3">
        <a href="https://github.com/chizy7/ProductsAPI">
            <img id="project3" src="/static/img/chizy/projectapi.jpg" alt="Image of Chizy's third project">
        </a>
    </div>
</div>
{% endblock content %}
