{% extends "chizy/chizy_base.html" %}

{% block title %}
<h1 id="chizy-hobbies-title">My hobbies,</h1>
{% endblock title %}

{% block content %}
<div class="flex-container">
    <div id="div-1">
        <img id="book" src="/static/img/chizy/chizy_guitar.jpg" alt="Image of Chizy playing a guitar.">
    </div>

    <div id="div-2">
        <img id="instrument" src="/static/img/chizy/chizy_bike1.jpg" alt="Image of Chizy wearing a biking gear">
    </div>

    <div id="div-3">
        <img id="anime" src="/static/img/chizy/chizy_walk.jpg" alt="Image of Chizy taking a walk">
    </div>

    <img id="chizy-map" src="/static/img/chizy/myVisitedPlaces.gif" alt="Map of all the countries Chizy has visited">
</div>
{% endblock content %}
