{% extends "jiya_base.html" %}


{% block title %}
<h1 id="jiya-hobbies-title">My hobbies,</h1>
{% endblock title %}

{% block content %}
<div class="flex-container">
    <div id="div-1"><img id="catch22" src="./static/img/Catch22.jpg" alt="Image of the book Jiya's currently reading">
    </div>

    <div id="div-2"><img id="guitar" src="./static/img/guitar.jpg" alt="Image of a guitar">
    </div>

    <div id="div-3"><img id="anime" src="./static/img/anime.jpg" alt="Image of naruto anime">
    </div>

    <img id="jiya-map" src="./static/img/myVisitedPlaces.gif" alt="Map of all the countries I've visited">


</div>
</div>
{% endblock content %}