{% extends "jiya_base.html" %}


{% block title %}
<h1 id="jiya-work-title">My experience,</h1>
{% endblock title %}

{% block content %}
<div class="flex-container">
    <div id="div-1"><a href="https://github.com/pranavrao145/music-mapper"><img id="musicmapper"
                src="./static/img/proj_1.jpg" alt="Image of Jiya's MusicMapper application"></a>
    </div>

    <div id="div-2"><a href="https://digital-wallet.hooralmo.repl.co/"><img id="digitalwallet"
                src="./static/img/proj_2.jpg" alt="Image of Jiya's DigitalWallet application"></a>
    </div>

    <div id="div-3"><a
            href="https://jiya-patel-cs.notion.site/InnerGarden-UXL-Designathon-2023-bc1812e1e0f64084b7566bcf704c85de"><img
                id="innergarden" src="./static/img/proj_3.jpg" alt="Image of Jiya's InnerGarden prototype"></a>
    </div>
</div>

{% endblock content %}